In [1]:
import random
import os
import re
from glob import glob
from tqdm import tqdm
import numpy as np

import pandas as pd
import ast
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from PIL import Image, ImageDraw, _imaging
from __future__ import print_function
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Activation
from keras.layers import Conv2D, MaxPooling2D
from keras import backend as K
from keras import metrics
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
from sklearn.model_selection import train_test_split
import tensorflow as tf
from datetime import datetime
from keras.callbacks import History, ModelCheckpoint
history = History()
from keras.models import model_from_json

Using TensorFlow backend.

In [58]:
fnames = glob('train_sample/*.csv')
data = {}
rows = 2
skiprows = 10
# Get n rows from all the csv files and append them into one dataframe
train_df = pd.DataFrame(columns=pd.read_csv(fnames[0], nrows=1).columns)
for name in fnames:
    if skiprows == 0:
        data = pd.read_csv(name, nrows=rows)
    else:
        data = pd.read_csv(name, nrows=rows, skiprows=range(1,skiprows))
    
#     data.to_csv('train_sample/' + name[17:])
    train_df = train_df.append(data)
# train_df.to_csv("test_sample/test.csv")

In [59]:
# pd.read_csv('test_sample/test.csv')

In [65]:
# train_df.reset_index().iloc[2]
# train_df.iloc[5]
train_df = train_df.reset_index().drop('index', axis=1)

In [67]:
train_df.head()

,Unnamed: 0,countrycode,drawing,key_id,recognized,timestamp,word
0,9,HU,"[[[242, 227, 205, 177, 145, 0], [0, 3, 15, 38,...",6106664400846848,True,2017-03-07 10:20:05.322620,line
1,9,GB,"[[[20, 8, 6, 0, 44, 132, 156, 159, 163, 168, 1...",6318719020040192,True,2017-01-28 07:20:35.652760,bucket
2,9,US,"[[[31, 99, 135, 235, 251, 255, 253, 230, 220, ...",5191697354981376,True,2017-01-23 21:36:42.508790,bus
3,9,SE,"[[[160, 160], [22, 76]], [[160, 205, 212], [2,...",4945535578406912,True,2017-03-26 09:18:56.612280,cello
4,9,DE,"[[[0, 5, 13, 38, 43, 49, 83, 91, 111, 119, 138...",5293366713516032,True,2017-01-29 14:22:18.112640,ocean

In [69]:
from random import shuffle
shuffle(train_df.index)

TypeError: Index does not support mutable operations

In [81]:
pp = [0,1,2,3,4,5,6]

In [91]:
shuffle(pp)

In [92]:
pp

[3, 5, 2, 1, 6, 0, 4]

In [97]:
train_df.iloc[pp]

,Unnamed: 0,countrycode,drawing,key_id,recognized,timestamp,word
3,9,SE,"[[[160, 160], [22, 76]], [[160, 205, 212], [2,...",4945535578406912,True,2017-03-26 09:18:56.612280,cello
5,9,BR,"[[[12, 172, 177, 177, 172, 80, 46, 3, 0, 1, 18...",4612226809856000,True,2017-01-23 17:02:36.349030,truck
2,9,US,"[[[31, 99, 135, 235, 251, 255, 253, 230, 220, ...",5191697354981376,True,2017-01-23 21:36:42.508790,bus
1,9,GB,"[[[20, 8, 6, 0, 44, 132, 156, 159, 163, 168, 1...",6318719020040192,True,2017-01-28 07:20:35.652760,bucket
6,9,DE,"[[[51, 75, 95, 97, 84, 93, 86, 56, 27, 22, 22]...",4993696510509056,True,2017-01-26 20:47:27.109270,camouflage
0,9,HU,"[[[242, 227, 205, 177, 145, 0], [0, 3, 15, 38,...",6106664400846848,True,2017-03-07 10:20:05.322620,line
4,9,DE,"[[[0, 5, 13, 38, 43, 49, 83, 91, 111, 119, 138...",5293366713516032,True,2017-01-29 14:22:18.112640,ocean